

body{
  text-align: center;
  background-color: aquamarine;
}
.input{
  background-color: darkolivegreen;
  border-radius: 3px;
  padding: 2% 2%;
  margin: 1% 1%;
  text-align: end;
}
  button{
  margin: 1% 1%;
  border-radius: 5px;
  padding: 3% 5%;
}
.App{
  background-color: chartreuse;
  border-radius: 10px;
  border-style: dashed;
  border-color: blue;
  text-align: center;
  padding: 2% 0%;
  margin: 10% 35%;
}
